fastapi==0.115.0
uvicorn==0.32.0
gunicorn==23.0.0
google-cloud-firestore==2.19.0
google-cloud-aiplatform==1.71.1
google-cloud-storage==2.18.2
google-cloud-vision==3.8.1
vertexai==1.71.1
opencv-python-headless==4.10.0.84
Pillow==11.0.0
pytrends==4.9.2
pydantic==2.9.2
python-multipart==0.0.12
requests==2.32.3
